<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <label for="">name:</label>
        <input type="text" name="name">
        <br>
        <br>
        <label for="">age:</label>
        <input type="text" name="age">
        <br>
        <br>
        <label for="">single:</label>
        <input type="file" name="file1">
        <br>
        <br>
        <label for="">multi:</label>
        <input type="file" name="file2" multiple>
        <br>
        <br>
        <input type="submit" value="提交">
    </form>
</body>
</html>